.row{
    display: flex;
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
}

.review {
    text-decoration: none;
    background-color: orange;
    color: white;
    width:  20%;
    text-align: center;
    border-radius: 14px;
}


.card-1 {
    border: 1px solid black;
    border-radius: 4px;
}
.card-header {
    border-bottom: 1px solid lightgray;
}
.card-footer {
    border-top: 1px solid lightgray;
}
.card-1 {
    border: 1px solid black;
    border-radius: 4px;
}
.form-input {
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 5px;
}
.form-group {
    position: relative;
}
.form-icon-start {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.form-icon-end {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.btn {
    width: 50%;
    padding: 8px;
    background-color:  #3B7A46;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #CEE9A0;
    color:  #3B7A46;
}
.btn-1 {
    width: 30%;
    padding: 8px;
    background-color:  Orange;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-1:hover {
    background-color: #CEE9A0;
    color:  #3B7A46;
}
.btn-red {
    width: 5%;
    padding: 15px;
    background-color:  red;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-red:hover {
    background-color: #CEE9A0;
    color:  #3B7A46;
}


.red{
    color: red;
}
.bg-primary {
    background-color: white;
    color: black;
    height: 93.7vh;
}
.bg-secondary {
    background-color:  rgb(4, 123, 213);
    color: white;
}
.bg-nav {
    background-color:  rgb(67, 155, 222);
    color: white;
}
.text-start {
    text-align:left ;
}
.text-end {
    text-align:right ;
}
.text-center {
    text-align:center ;
}
.nav-items {
    text-decoration: none;
    color: inherit;
}
.text-color {
    color: white;
}


.under-line {
    text-decoration: none;
    color:  #3dc4bb;
}

.under-line-1 {
    text-decoration: none;
    color: white;
}


.card-footer-1 {
    border-top: 1px solid lightgray;
    padding: 10px;
    font-weight: lighter;
}

.description {
    height: 100px;
}

.keyword-link-1{
    border: 1px solid lightgrey;
    padding: 10px;
    color: white;
    background-color:  rgb(4, 123, 213);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.keyword-searchbar{
    border: 1px solid lightgrey;
    padding: 10px;
    width: 400px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.box-radius {
    border: 1px solid lightgrey;
    border-radius: 4px;
}


.m-auto {
    margin: auto;
}

.text-blue {
    background-color:#725588;
    color:white;
}

.flex{
display:flex;
}
.card-label{
    font-weight: 100;
}
.card-title{
text-align: center;
font-size:25px;
font-weight:bold;
}