{% include 'ihead.html' %}
<html>
<head>
    <title>Power BI Dashboard</title>
    <style>
        iframe {
            width: 100%;
            height: 600px;
            border: none;
        }
    </style>
</head>
<body>
    <iframe title="inventory_lowstock" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMDBmYWJjOTMtYjJiMy00YzJmLTk2NzEtOWQxMzFmZjlmOGY0IiwidCI6IjdhZmI5ZTIyLTkzMDgtNDE4Ni04ZTI5LWVhMjMxZmYzYmFmNyIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>